.file-list {
	> div {
		margin: 12px 0;
		cursor: default;
		div.name {
			font-weight: bold;
		}
	}
}

.upload-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	> div.form {
		min-height: 40px;
		/* display: none; */
	}
	> div.msg {
		margin-top: 16px;
		width: auto;
		min-height: 48px;
		padding: 16px 24px 12px;
		line-height: 16px;
		font-size: 16px;
		border-radius: 4px;
		cursor: default;
	}

	> div[data-state="uploading"] {
		background-color: #eee;
	}

	> div[data-state="success"] {
		font-weight: bold;
		background-color: #aaffaa;
	}
	> div[data-state="alert"] {
		font-weight: bold;
		background-color: #ffaaaa;
	}
}

.uploading .upload-box {
	> div.form {
		> * {
			display: none;
		}
	}
}
