@use 'config';

body {
	background-color: #ddd;
	overflow-y: scroll;
}

body > aside,
body > main > header,
body > main > footer {
	cursor: default;
	user-select: none;
}

body > main,
body > main > header,
body > main > footer {
	background-color: rgba(100, 150, 200, 0.5);
}

textarea {
	font-family: config.$font-mono;
}

form {
	h1, label {
		user-select: none;
	}
	div.row {
		margin-bottom: 16px;
	}
	label.form-check-label {
		margin-right: 12px;
	}

	div.alert {
		width: 80%;
		margin: 16px auto;
		display: none;
	}
}
