@use 'config';

body {
	> * {
		display: none;
	}

	> aside {
		position: fixed;
		padding-top: config.$layout-header-height;
		left: 50%;
		top: 0;
		transform: translateX(-500px);
		width: 184px;
		display: flex;
		flex-direction: column;
		height: 100vh;
		user-select: none;
	}

	> main {
		width: 1000px;
		min-height: 100vh;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		header {
			padding: 0 0 0 200px;
			height: config.$layout-header-height;
			line-height: config.$layout-header-height;
		}
		section {
			padding: 16px 16px 16px 200px;
		}
		footer {
			height: config.$layout-footer-height;
			line-height: config.$layout-header-height;
			padding: 0 0 0 200px;
			margin-top: auto;
		}
	}
}
