@use 'config';

body {
	> * {
		display: none;
	}

	> aside {
		position: fixed;
		padding-top: config.$layout-header-height;
		left: 50%;
		top: 0;
		transform: translateX(-500px);
		width: 184px;
		display: flex;
		flex-direction: column;
		height: 100vh;
		background-color: rgba(0, 100, 200, 0.5);
	}

	> main {
		width: 1000px;
		min-height: 100vh;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		background-color: rgba(100, 150, 200, 0.5);
		header {
			padding: 0 0 0 200px;
			background-color: rgba(100, 150, 200, 0.5);
			height: config.$layout-header-height;
		}
		section {
			padding: 0 16px 0 200px;
			height: 200vh;
		}
		footer {
			height: config.$layout-footer-height;
			padding: 0 0 0 200px;
			background-color: rgba(100, 150, 200, 0.5);
			margin-top: auto;
		}
	}
}
