<form>
<div class="row">
	<div class="col-3">
		OpenGraph
	</div>
	<div class="col-9">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="og" value="0" checked>
				ignore
		</label>
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="og" value="1">
				has
		</label>
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="og" value="2">
				not has
		</label>
	</div>
</div>
<div class="row">
	<div class="col-3">
		Title
	</div>
	<div class="col-9">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="title" value="0" checked>
				ignore
		</label>
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="title" value="1">
				has
		</label>
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="title" value="2">
				not has
		</label>
	</div>
</div>

<div class="row">
	<div class="col">
		<button type="submit" class="btn btn-primary">Search</button>
	</div>
</div>
</form>

<div class="item-list">
</div>
