<form>
<div class="row">
	<div class="col-2">
		OpenGraph
	</div>
	<div class="col-4">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="og" value="0" checked>
				忽略
		</label><label class="form-check-label">
			<input class="form-check-input" type="radio" name="og" value="1">
				有
		</label><label class="form-check-label">
			<input class="form-check-input" type="radio" name="og" value="2">
				没有
		</label>
	</div>
	<div class="col-2">
		标题
	</div>
	<div class="col-4">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="title" value="0" checked>
				忽略
		</label><label class="form-check-label">
			<input class="form-check-input" type="radio" name="title" value="1">
				有
		</label><label class="form-check-label">
			<input class="form-check-input" type="radio" name="title" value="2">
				没有
		</label>
	</div>
</div>
<div class="row">
	<div class="col-2">
		原创
	</div>
	<div class="col-4">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="original" value="0" checked>
				忽略
		</label><label class="form-check-label">
			<input class="form-check-input" type="radio" name="original" value="1">
				有
		</label><label class="form-check-label">
			<input class="form-check-input" type="radio" name="original" value="2">
				没有
		</label>
	</div>
	<div class="col-2">
		琐事
	</div>
	<div class="col-4">
		<label class="form-check-label">
			<input class="form-check-input" type="radio" name="trivial" value="0" checked>
				忽略
		</label><label class="form-check-label">
			<input class="form-check-input" type="radio" name="trivial" value="1">
				有
		</label><label class="form-check-label">
			<input class="form-check-input" type="radio" name="trivial" value="2">
				没有
		</label>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<input name="keyword" class="form-control" placeholder="Keyword">
	</div>
</div>
<div class="row">
	<div class="col">
		<button type="submit" class="btn btn-primary">Search</button>
	</div>
</div>
</form>

<div class="item-list">
</div>
